<div class="row p-2">
    <div class='col-auto'>
        <%= form_with class: "d-flex", url: "/whlogcreate", method: :post do |form| %>
            <button type="submit" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Запись о поставке
            </button>
          <% end %>
    </div>

</div>


<div class="row">
    <table class="table table-warning table-striped">
    <thead>
        <tr>
        <th scope="col">id</th>
        <th scope="col">id продукта</th>
        <th scope="col">Тип операции</th>
        <th scope="col">id покупки (при наличии)</th>
        <th scope="col">Изменение на складе</th>
        <th scope="col">Стоимость</th>
        <th scope="col">Дата</th>
        </tr>
    </thead>
    <tbody>
        <% for whlog in @whlog%>
            <tr>
                <th scope="row"><%= whlog.id %></th>
                <td><%= whlog.product_id %></td>
                <td><%= whlog.type %></td>
                <td><%= whlog.purchase_id %></td>
                <td><%= whlog.quantity_change %></td>
                <td><%= whlog.amount %></td>
                <td><%= whlog.date %></td>
            </tr>
        <% end %>
    </tbody>
    </table>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content" id="m-body">

      </div>
  </div>
</div>